<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SU/IdeaProjects/AuthorizationTest/src/test">
        <classes>
            <class name="models.TestApi">
                <methods>
                    <include name="testUserInfoResponse"/>
                </methods>
            </class>
            <class name="org.example.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>